:root {
   --primary-color: #103931;
   --text-color: #f5d5ca;
   --accent-color: #0a2c25;
}
body {
   background: linear-gradient(50deg, var(--primary-color)  40%, rgba(0,0,0,0) 30%), linear-gradient(150deg, var(--accent-color) 63%, var(--primary-color) 60%);
   background: linear-gradient(50deg, var(--primary-color)  40%, rgba(0,0,0,0) 30%), linear-gradient(150deg, var(--accent-color) 63%, var(--primary-color) 60%);
   background: linear-gradient(50deg, var(--primary-color)  40%, rgba(0,0,0,0) 30%), linear-gradient(150deg, var(--accent-color) 63%, var(--primary-color) 60%);
   background: linear-gradient(50deg, var(--primary-color)  40%, rgba(0,0,0,0) 30%), linear-gradient(150deg, var(--accent-color) 63%, var(--primary-color) 60%);
   color: var(--text-color);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding: 30px;
}
header {
   display: flex;
   justify-content: flex-start;
}
h1 {
   font-size: 40px;
   margin: 36px 0px 10px 30px;
   text-transform: uppercase;
}
h2 {
   font-size: 24px;
   font-weight: 300;
   margin: 10px 0px 0px 30px;
}
h3 {
   font-size: min(max(50px, 7vw), 90px);
   font-weight: 500;
}
h4 {
   font-size: 24px;
}
h5 {
   font-size: 22px;
}
p {
   font-size: 22px;
}
footer {
   background-color: var(--accent-color);
   font-size: 22px;
   padding: 20px;
   margin: 0px;
}
.container {
   padding: 0;
   margin: 0;
   max-width: 1900px;
}
.logo {
   border-radius: 50%;
}
.header-menu {
   display: flex;
   font-weight: 700;
   font-size: 30px;
   justify-content: flex-end;
   margin: 0;
   padding-top: 45px;
}
.header-menu li {
   padding: 0px 20px;
}
.tagline {
   display:flex;
   flex-direction: column;
   align-items: flex-start;
   width: 1500px;
}
.tagline h3 {
   max-width:900px;
   min-width:782px;
   align-self: center;
   margin-bottom: 5px;
   margin-top: 50px;
}
.tagline p {
   max-width:900px;
   min-width:782px;
   align-self: center;
}
.banner {
   display: flex;
   justify-content: center;
}
.navigation-menu li {
   list-style: none;
}